<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary" th:text="#{smart.garage.name}"><i class="fa fa-car me-3"></i>CarServ</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/garage/home}" class="nav-item nav-link">Home</a>
            <a th:href="@{/garage/about}" class="nav-item nav-link">About</a>
            <a href="/garage/services" class="nav-item nav-link">Services</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="/garage/booking" class="dropdown-item">Booking</a>
                    <a th:href="@{/garage/team}" class="dropdown-item">Technicians</a>
                    <a th:href="@{/garaga/reviews}" class="dropdown-item">Testimonial</a>
                    <a th:href="@{/garage/404}" class="dropdown-item">404 Page</a>
                </div>
            </div>
            <a th:href="@{/garage/contacts}" class="nav-item nav-link">Contact</a>
            <div sec:authorize="!isAuthenticated()" >
                <a class="nav-item nav-link" th:href="@{/garage/login}">Log In</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link" href="#" onclick="logout()">Log out</a>
            </div>
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Get A Quote<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>