<a th:fragment="pagingVisit(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(visitFilterOptions.customerId.isPresent()) ? 'customerId=' + visitFilterOptions.customerId.get() + '&' : ''}
                        + ${(visitFilterOptions.customerName.isPresent() && !visitFilterOptions.customerName.isEmpty())  ? 'customerName=' + visitFilterOptions.customerName.get() + '&' : ''}
                        + ${(visitFilterOptions.clerkId.isPresent())  ? 'clerkId=' + visitFilterOptions.clerkId.get() + '&' : ''}
                        + ${(visitFilterOptions.clerkName.isPresent() && !visitFilterOptions.clerkName.isEmpty())  ? 'clerkName=' + visitFilterOptions.clerkName.get() + '&' : ''}
                        + ${(visitFilterOptions.vehicleId.isPresent())  ? 'vehicleId=' + visitFilterOptions.vehicleId.get() + '&' : ''}
                        + ${(visitFilterOptions.orders.isPresent() && !visitFilterOptions.orders.get().isEmpty())  ? 'orders=' + visitFilterOptions.orders.get() + '&' : ''}
                        + ${(visitFilterOptions.scheduleCondition.isPresent()) ? 'scheduleCondition=' + visitFilterOptions.scheduleCondition.get() + '&' : ''}
                        + ${visitFilterOptions.scheduleDateFrom.isPresent() ? 'scheduleDateFrom=' + visitFilterOptions.scheduleDateFrom.get() + '&' : ''}
                        + ${visitFilterOptions.scheduleDateTo.isPresent() ? 'scheduleDateTo=' + visitFilterOptions.scheduleDateTo.get() + '&' : ''}
                        + ${(visitFilterOptions.bookedCondition.isPresent()) ? 'bookedCondition=' + visitFilterOptions.bookedCondition.get() + '&' : ''}
                        + ${visitFilterOptions.bookedOn.isPresent() ? 'bookedOn=' + visitFilterOptions.bookedOn.get() + '&' : ''}
                        + ${(visitFilterOptions.sortBy.isPresent() && !visitFilterOptions.sortBy.get().isEmpty()) ? 'sortBy=' + visitFilterOptions.sortBy.get() + '&' : ''}
                        + ${(visitFilterOptions.sortOrder.isPresent() && !visitFilterOptions.sortOrder.get().isEmpty()) ? 'sortOrder=' + visitFilterOptions.sortOrder.get() + '&' : ''}
                        + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingUsers(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?'
                        + ${(userFilterOptions.firstName.isPresent() && !userFilterOptions.firstName.isEmpty())  ? 'firstName=' + userFilterOptions.firstName.get() + '&' : ''}
                        + ${(userFilterOptions.lastName.isPresent() && !userFilterOptions.lastName.isEmpty())  ? 'lastName=' + userFilterOptions.lastName.get() + '&' : ''}
                        + ${(userFilterOptions.email.isPresent() && !userFilterOptions.email.isEmpty())  ? 'email=' + userFilterOptions.email.get() + '&' : ''}
                        + ${(userFilterOptions.username.isPresent() && !userFilterOptions.username.isEmpty())  ? 'username=' + userFilterOptions.username.get() + '&' : ''}
                        + ${(userFilterOptions.phoneNumber.isPresent() && !userFilterOptions.phoneNumber.isEmpty())  ? 'phoneNumber=' + userFilterOptions.phoneNumber.get() + '&' : ''}
                        + ${(userFilterOptions.registeredCondition.isPresent()) ? 'registeredCondition=' + userFilterOptions.registeredCondition.get() + '&' : ''}
                        + ${userFilterOptions.registered.isPresent() ? 'registered=' + userFilterOptions.registered.get() + '&' : ''}
                        + ${(userFilterOptions.authority.isPresent()) ? 'authority=' + userFilterOptions.authority.get() + '&' : ''}
                        + ${(userFilterOptions.brandName.isPresent() && !userFilterOptions.brandName.isEmpty())  ? 'brandName=' + userFilterOptions.brandName.get() + '&' : ''}
                        + ${(userFilterOptions.licensePlate.isPresent() && !userFilterOptions.licensePlate.isEmpty())  ? 'licensePlate=' + userFilterOptions.licensePlate.get() + '&' : ''}
                        + ${(userFilterOptions.vin.isPresent() && !userFilterOptions.vin.isEmpty())  ? 'vin=' + userFilterOptions.vin.get() + '&' : ''}
                        + ${(userFilterOptions.sortBy.isPresent() && !userFilterOptions.sortBy.get().isEmpty()) ? 'sortBy=' + userFilterOptions.sortBy.get() + '&' : ''}
                        + ${(userFilterOptions.sortOrder.isPresent() && !userFilterOptions.sortOrder.get().isEmpty()) ? 'sortOrder=' + userFilterOptions.sortOrder.get() + '&' : ''}
                        + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingVehicles(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?'
                        + ${(vehicleFilterOptions.owner.isPresent() && !vehicleFilterOptions.owner.isEmpty())  ? 'owner=' + vehicleFilterOptions.owner.get() + '&' : ''}
                        + ${(vehicleFilterOptions.brandName.isPresent() && !vehicleFilterOptions.brandName.isEmpty())  ? 'brandName=' + vehicleFilterOptions.brandName.get() + '&' : ''}
                        + ${(vehicleFilterOptions.licensePlate.isPresent() && !vehicleFilterOptions.licensePlate.isEmpty())  ? 'licensePlate=' + vehicleFilterOptions.licensePlate.get() + '&' : ''}
                        + ${(vehicleFilterOptions.vin.isPresent() && !vehicleFilterOptions.vin.isEmpty())  ? 'vin=' + vehicleFilterOptions.vin.get() + '&' : ''}
                        + ${(vehicleFilterOptions.sortBy.isPresent() && !vehicleFilterOptions.sortBy.get().isEmpty()) ? 'sortBy=' + vehicleFilterOptions.sortBy.get() + '&' : ''}
                        + ${(vehicleFilterOptions.sortOrder.isPresent() && !vehicleFilterOptions.sortOrder.get().isEmpty()) ? 'sortOrder=' + vehicleFilterOptions.sortOrder.get() + '&' : ''}
                        + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingBrands(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(vehicleBrandFilterOptions.name != null && !vehicleBrandFilterOptions.name.isEmpty()) ? 'name=' + vehicleBrandFilterOptions.name + '&' : ''}
                        + ${(vehicleBrandFilterOptions.sortOrder != null && !vehicleBrandFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + vehicleBrandFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingModels(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(vehicleModelFilterOptions.name != null && !vehicleModelFilterOptions.name.isEmpty()) ? 'name=' + vehicleModelFilterOptions.name + '&' : ''}
                        + ${(vehicleModelFilterOptions.year != null && !vehicleModelFilterOptions.year.isEmpty()) ? 'sortOrder=' + vehicleModelFilterOptions.year + '&' : ''}
                        + ${(vehicleModelFilterOptions.sortOrder != null && !vehicleModelFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + vehicleModelFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingOrderTypes(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(orderTypeFilterOptions.name != null && !orderTypeFilterOptions.name.isEmpty()) ? 'name=' + orderTypeFilterOptions.name + '&' : ''}
                        + ${(orderTypeFilterOptions.minPrice != null && !orderTypeFilterOptions.minPrice.isEmpty()) ? 'minPrice=' + orderTypeFilterOptions.minPrice + '&' : ''}
                        + ${(orderTypeFilterOptions.maxPrice != null && !orderTypeFilterOptions.maxPrice.isEmpty()) ? 'maxPrice=' + orderTypeFilterOptions.maxPrice + '&' : ''}
                        + ${(orderTypeFilterOptions.sortBy != null && !orderTypeFilterOptions.sortBy.isEmpty()) ? 'sortBy=' + orderTypeFilterOptions.sortBy + '&' : ''}
                        + ${(orderTypeFilterOptions.sortOrder != null && !orderTypeFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + orderTypeFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>