<a th:fragment="pagingVisit(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(visitFilterOptions.customerId.isPresent()) ? 'customerId=' + visitFilterOptions.customerId.get() + '&' : ''}
                        + ${(visitFilterOptions.customerName.isPresent() && !visitFilterOptions.customerName.isEmpty())  ? 'customerName=' + visitFilterOptions.customerName.get() + '&' : ''}
                        + ${(visitFilterOptions.clerkId.isPresent())  ? 'clerkId=' + visitFilterOptions.clerkId.get() + '&' : ''}
                        + ${(visitFilterOptions.clerkName.isPresent() && !visitFilterOptions.clerkName.isEmpty())  ? 'clerkName=' + visitFilterOptions.clerkName.get() + '&' : ''}
                        + ${(visitFilterOptions.vehicleId.isPresent())  ? 'vehicleId=' + visitFilterOptions.vehicleId.get() + '&' : ''}
                        + ${(visitFilterOptions.orders.isPresent() && !visitFilterOptions.orders.get().isEmpty())  ? 'orders=' + visitFilterOptions.orders.get() + '&' : ''}
                        + ${(visitFilterOptions.scheduleCondition.isPresent()) ? 'scheduleCondition=' + visitFilterOptions.scheduleCondition.get() + '&' : ''}
                        + ${visitFilterOptions.scheduleDateFrom.isPresent() ? 'scheduleDateFrom=' + visitFilterOptions.scheduleDateFrom.get() + '&' : ''}
                        + ${visitFilterOptions.scheduleDateTo.isPresent() ? 'scheduleDateTo=' + visitFilterOptions.scheduleDateTo.get() + '&' : ''}
                        + ${(visitFilterOptions.bookedCondition.isPresent()) ? 'bookedCondition=' + visitFilterOptions.bookedCondition.get() + '&' : ''}
                        + ${visitFilterOptions.bookedOn.isPresent() ? 'bookedOn=' + visitFilterOptions.bookedOn.get() + '&' : ''}
                        + ${(visitFilterOptions.sortBy.isPresent() && !visitFilterOptions.sortBy.get().isEmpty()) ? 'sortBy=' + visitFilterOptions.sortBy.get() + '&' : ''}
                        + ${(visitFilterOptions.sortOrder.isPresent() && !visitFilterOptions.sortOrder.get().isEmpty()) ? 'sortOrder=' + visitFilterOptions.sortOrder.get() + '&' : ''}
                        + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingComments(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingBrands(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(vehicleBrandFilterOptions.name != null && !vehicleBrandFilterOptions.name.isEmpty()) ? 'name=' + vehicleBrandFilterOptions.name + '&' : ''}
                        + ${(vehicleBrandFilterOptions.sortOrder != null && !vehicleBrandFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + vehicleBrandFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingModels(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(vehicleModelFilterOptions.name != null && !vehicleModelFilterOptions.name.isEmpty()) ? 'name=' + vehicleModelFilterOptions.name + '&' : ''}
                        + ${(vehicleModelFilterOptions.year != null && !vehicleModelFilterOptions.year.isEmpty()) ? 'sortOrder=' + vehicleModelFilterOptions.year + '&' : ''}
                        + ${(vehicleModelFilterOptions.sortOrder != null && !vehicleModelFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + vehicleModelFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>