<a th:fragment="pagingVisit(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(visitFilterOptions.title != null && !visitFilterOptions.title.isEmpty()) ? 'title=' + visitFilterOptions.title + '&' : ''}
                        + ${(visitFilterOptions.content != null && !visitFilterOptions.content.isEmpty())  ? 'content=' + visitFilterOptions.content + '&' : ''}
                        + ${(visitFilterOptions.createCondition != null && !visitFilterOptions.createCondition.isEmpty()) ? 'createCondition=' + visitFilterOptions.createCondition + '&' : ''}
                        + ${visitFilterOptions.created != null ? 'created=' + visitFilterOptions.created + '&' : ''}
                        + ${(visitFilterOptions.updateCondition != null  && !visitFilterOptions.updateCondition.isEmpty()) ? 'updateCondition=' + visitFilterOptions.updateCondition + '&' : ''}
                        + ${visitFilterOptions.updated != null ? 'updated=' + visitFilterOptions.updated + '&' : ''}
                        + ${(visitFilterOptions.tags != null && !visitFilterOptions.tags.isEmpty()) ? 'tags=' + visitFilterOptions.tags + '&' : ''}
                        + ${(visitFilterOptions.postIds != null && !visitFilterOptions.postIds.isEmpty()) ? 'tags=' + visitFilterOptions.postIds + '&' : ''}
                        + ${(visitFilterOptions.sortBy != null && !visitFilterOptions.sortBy.isEmpty()) ? 'sortBy=' + visitFilterOptions.sortBy + '&' : ''}
                        + ${(visitFilterOptions.sortOrder != null && !visitFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + visitFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingUser(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + ${(userFilterOptions.firstName != null && !userFilterOptions.firstName.isEmpty()) ? 'firstName=' + userFilterOptions.firstName + '&' : ''}
                        + ${(userFilterOptions.lastName != null && !userFilterOptions.lastName.isEmpty()) ? 'lastName=' + userFilterOptions.lastName + '&' : ''}
                        + ${(userFilterOptions.createCondition != null && !userFilterOptions.createCondition.isEmpty()) ? 'createCondition=' + userFilterOptions.createCondition + '&' : ''}
                        + ${userFilterOptions.created != null ? 'created=' + userFilterOptions.created + '&' : ''}
                        + ${(userFilterOptions.email != null && !userFilterOptions.email.isEmpty()) ? 'email=' + userFilterOptions.email + '&' : ''}
                        + ${(userFilterOptions.phoneNumber != null && !userFilterOptions.phoneNumber.isEmpty()) ? 'phoneNumber=' + userFilterOptions.phoneNumber + '&' : ''}
                        + ${(userFilterOptions.username != null && !userFilterOptions.username.isEmpty()) ? 'username=' + userFilterOptions.username + '&' : ''}
                        + ${(userFilterOptions.isBlocked != null && !userFilterOptions.isBlocked.isEmpty()) ? 'isBlocked=' + userFilterOptions.isBlocked + '&' : ''}
                        + ${(userFilterOptions.isDeleted != null && !userFilterOptions.isDeleted.isEmpty()) ? 'isDeleted=' + userFilterOptions.isDeleted + '&' : ''}
                        + ${(userFilterOptions.roles != null && !userFilterOptions.roles.isEmpty()) ? 'roles=' + userFilterOptions.roles + '&' : ''}
                        + ${(userFilterOptions.sortBy != null && !userFilterOptions.sortBy.isEmpty()) ? 'sortBy=' + userFilterOptions.sortBy + '&' : ''}
                        + ${(userFilterOptions.sortOrder != null && !userFilterOptions.sortOrder.isEmpty()) ? 'sortOrder=' + userFilterOptions.sortOrder + '&' : ''}
                        + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<a th:fragment="pagingComments(pageNum, label, tooltip)" class="page-link"
   th:href="@{'__${requestURI}__' + '?' + 'pageIndex=' + ${pageNum + 1} + '&pageSize=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>