<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head.html::head('Clerk')}"></head>

<body class="bg-danger bg-gradient">

<!-- Spinner Start -->
<div th:replace="~{/fragments/spinner}"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="~{/fragments/topbar}"></div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav th:replace="~{/fragments/navbar}"></nav>
<!-- Navbar End -->

<!-- Content Start -->
<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4">
            <a th:href="@{/garage/visits}">
                <img th:src="${'/img/image-visits.webp'}" class="img-fluid img-thumbnail" alt="Car entering a Car Shop" >
            </a>
            <h5 class="mt-3">VISITS</h5>
        </div>

        <div class="col-md-4">
            <a th:href="@{'/garage/customers?authority=CUSTOMER'}">
                <img th:src="${'/img/image-customers.webp'}" class="img-fluid img-thumbnail" alt="Customer entering a Car Shop">
            </a>
            <h5 class="mt-3">CLIENTS</h5>
        </div>

        <div class="col-md-4">
            <a th:href="@{/garage/vehicles}">
                <img th:src="${'/img/image-vehicles.webp'}" class="img-fluid img-thumbnail" alt="Several cars in a line">
            </a>
            <h5 class="mt-3">VEHICLES</h5>
        </div>
    </div>
</div>
<!-- Content End -->

<!-- Footer Start -->
<div th:replace="~{/fragments/footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<div th:replace="~{/fragments/toTop}"></div>

<div th:replace="~{/fragments/scripts}"></div>
<script type="text/javascript" src="/js/clerk-script.js"></script>
</body>
</html>