<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head.html::head('Client')}"></head>

<body>

<!-- Spinner Start -->
<div th:replace="~{/fragments/spinner}"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="~{/fragments/topbar}"></div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav th:replace="~{/fragments/navbar}"></nav>
<!-- Navbar End -->

<!-- Content Start -->
<div class="container my-5">
    <div class="row text-center">
        <!-- First Image with Link -->
        <div class="col-md-6">
            <a th:href="@{/garage/visits/client/__${client.id}__}">
                <img th:src="${'/img/image-visits.webp'}" class="img-fluid img-thumbnail" alt="Car entering a Car Shop" >
            </a>
            <h5 class="mt-3">VISITS</h5>
        </div>

        <!-- Second Image with Link -->
        <div class="col-md-6">
            <a th:href="@{/garage/vehicles/client/__${client.id}__}">
                <img th:src="${'/img/image-vehicles.webp'}" class="img-fluid img-thumbnail" alt="Several cars in a line">
            </a>
            <h5 class="mt-3">VEHICLES</h5>
        </div>
    </div>
</div>
<!-- Content End -->

<!-- Footer Start -->
<div th:replace="~{/fragments/footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<div th:replace="~{/fragments/toTop}"></div>

<div th:replace="~{/fragments/scripts}"></div>
</body>
</html>