<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head.html::head('Login')}"></head>
<body class="bg-light bg-gradient">
<!-- Spinner Start -->
<div th:replace="~{/fragments/spinner}"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="~{/fragments/topbar}"></div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav th:replace="~{/fragments/navbar}"></nav>
<!-- Navbar End -->

<!--Login Form Start-->
<div class="login-container">
    <div class="black-void"></div>
    <div class="garage-door-form">
        <form class="door-form" action="#" th:action="@{/garage/login}" th:method="post">
            <label for="username" class="text-dark" th:text="#{user.label.username}">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" autofocus="autofocus"/>
            <label for="password" class="text-dark" th:text="#{user.label.password}">Password</label>
            <input type="password" id="password" name="password" placeholder="Password"/>
            <input type="submit" value="Login"/>
        </form>
        <div class="login-messages">
<!--            <h5 class="error-message" th:if="${param.error}" th:text="#{user.label.login-error}">Login Error </h5>-->
            <h5 class="error-message" th:if="${param.user}" th:text="#{user.label.reset-error-user}">Login Error </h5>
            <h5 class="success-message" th:if="${param.email}" th:text="#{user.label.reset-email-send}">Login Error </h5>
            <h5 class="success-message" th:if="${param.reset}" th:text="#{user.label.reset-complete}">Login Error </h5>
        </div>
        <div class="password-reset">
            <h4>Forgot your password?
                <a href="#" data-bs-toggle="modal" data-bs-target="#phoneModal"
                   th:text="#{user.label.password-forgotten}">Click here</a>
            </h4>
        </div>
    </div>
</div>
<!--Login Form End-->

<!--Reset Password Modal Start-->
<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phoneModalLabel">Enter Your Phone Number</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="phone-form" action="/garage/password" method="post">
                    <label for="phone-number">Phone Number:</label>
                    <input type="tel" id="phone-number" pattern="^\d{10}$"
                           name="phoneNumber" class="form-control"
                           placeholder="Enter your phone number" required>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Reset Password Modal End-->

<!-- Footer Start -->
<div th:replace="~{/fragments/footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<div th:replace="~{/fragments/toTop}"></div>

<div th:replace="~{/fragments/scripts}"></div>
<script type="text/javascript" src="/js/loginScript.js"></script>
</body>
</html>