<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head.html::head('Home')}"></head>

<body>
<!-- Spinner Start -->
<div th:replace="~{/fragments/spinner}"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="~{/fragments/topbar}"></div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav th:replace="~{/fragments/navbar}"></nav>
<!-- Navbar End -->

<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-6 col-lg-4">
            <h4 class="text-center mb-4">Enter New Password</h4>

            <form action="#" th:action="@{__${requestURI}__}" th:object="${passwordDto}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="password" th:text="#{user.label.password}">Password</label>
                    <input class="form-control" type="password" th:field="*{password}" id="password"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}">Password
                        error placeholder</div>
                </div>

                <div>
                    <label class="form-label" for="confirm" th:text="#{user.label.password-confirm}">Confirm
                        Password</label>
                    <br/>
                    <input class="form-control" type="password" th:field="*{passwordConfirm}" id="confirm"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
                           th:errors="*{passwordConfirm}">Password confirm error
                        placeholder</div>
                </div>

                <input class="btn btn-primary w-100" type="submit" value="Reset Password"/>
            </form>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div th:replace="~{/fragments/footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<div th:replace="~{/fragments/toTop}"></div>

<div th:replace="~{/fragments/scripts}"></div>
</body>
</html>