<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head::head('Services Handled')}"></head>

<body>
    <!-- Spinner Start -->
    <div th:replace="~{/fragments/spinner}"></div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div th:replace="~{/fragments/topbar}"></div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav th:replace="~{/fragments/navbar}"></nav>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div th:replace="~{/fragments/pageHead::pageHead('Services')}"></div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div th:replace="~{/fragments/partServices}"></div>
    <!-- Service End -->

    <!-- Booking Start -->
   <div th:replace="~{/fragments/partBooking}"></div>
    <!-- Booking End -->

    <!-- Testimonial Start -->
    <div th:replace="~{/fragments/partComments}"></div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <div th:replace="~{/fragments/footer}"></div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <div th:replace="~{/fragments/toTop}"></div>

    <div th:replace="~{/fragments/scripts}"></div>
</body>

</html>