<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head.html::head('Visits')}"></head>

<body>

<!-- Spinner Start -->
<div th:replace="~{/fragments/spinner}"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="~{/fragments/topbar}"></div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav th:replace="~{/fragments/navbar}"></nav>
<!-- Navbar End -->

<!-- Filter Start -->
<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-center mb-4">
            <span><i class="fa fa-search fa-lg"
                     id="search-icon" style="cursor: pointer"
                     onclick="toggleFilter()"></i></span>
        <h5 class="fw-bold ms-2">Filter Options</h5>
    </div>
    <div id="filter-form-container" style="display: none">
        <form action="#" th:action="@{__${requestURI}__}" method="get" th:object="${visitFilterOptions}">
            <div class="row g-3">
                <div class="col-md-6">
                    <input class="form-control" type="text" id="clientId" placeholder="Client Id"
                           th:value="*{customerId.orElse('')}"
                           th:name="customerId"/>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="clientName"
                           placeholder="Client Given or Family Name"
                           th:value="*{customerName.orElse('')}"
                           th:name="customerName"/>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="employeeId" placeholder="Employee Id"
                           th:value="*{clerkId.orElse('')}"
                           th:name="clerkId"/>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="employeeName"
                           placeholder="Employee Given or Family Name"
                           th:value="*{clerkName.orElse('')}"
                           th:name="clerkName"/>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="vehicleId" placeholder="Vehicle Id"
                           th:value="*{vehicleId.orElse('')}"
                           th:name="vehicleId"/>
                </div>
                <div class="col-md-6">
                    <select class="form-select" th:field="*{orders}" id="orders">
                        <option th:name="orders" value="">Services</option>
                        <option th:each="service : ${availableServices}"
                                th:value="${service.id}" th:text="${service.serviceName}">
                            Choose Service
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-select" th:field="*{scheduleCondition}"
                            id="scheduleOption" onchange="toggleScheduleEnd()">
                        <option th:name="scheduleCondtion" value="">Booked Date Condition</option>
                        <option th:each="enum : ${T (org.example.smartgarage.utils.filtering.TimeOperator).values()}"
                                th:value="${enum.name}" th:text="${enum.toString().toLowerCase()}">
                            Select Date Option
                        </option>
                    </select>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="scheduleFrom" class="form-label">Booked Date Start</label>
                            <input class="form-control" type="date" id="scheduleFrom"
                                   th:field="*{scheduleDateFrom}"/>
                        </div>
                        <div class="col-md-6" id="scheduleEndContainer" style="display: none">
                            <label for="scheduleTo" class="form-label">Booked Date End</label>
                            <input class="form-control" type="date" id="scheduleTo" th:field="*{scheduleDateTo}"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-select" id="bookedOption" th:field="*{bookedCondition}">
                        <option th:name="bookedCondition" value="">Created Date Condition</option>
                        <option th:each="enum : ${T (org.example.smartgarage.utils.filtering.TimeOperator).values()}"
                                th:unless="${enum.name == 'BETWEEN'}"
                                th:value="${enum}" th:text="${enum.toString().toLowerCase()}">
                            Select Date Option
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="date" id="bookedDate" th:field="*{bookedOn}"/>
                </div>
                <div class="col-md-6">
                    <select class="form-select" id="sortBy" th:field="*{sortBy}">
                        <option value="">Sort By</option>
                        <option value="clerk">Clerk</option>
                        <option value="client">Client</option>
                        <option value="brandName">Car Brand</option>
                        <option value="modelName">Car Model</option>
                        <option value="yearOfCreation">Car Production Year</option>
                        <option value="licensePlate">License Plate</option>
                        <option value="vin">Chassis Number</option>
                        <option value="updatedOn">Date Updated</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select id="sortOrder" class="form-select" th:field="*{sortOrder}">
                        <option value="">Sort Order</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <input class="btn btn-danger" type="submit" value="Search"/>
                <a class="btn btn-outline-secondary" th:href="@{__${requestURI}__}">Clear Filter</a>
            </div>
        </form>
    </div>
</div>
<!-- Filter End -->

<!--Display Visits Start-->
<div class="container mt-4">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Appointment Date</th>
            <th>Client Name</th>
            <th>Clerk Name</th>
            <th>Vehicle License Plate</th>
            <th>Vehicle Info - Brand || Model || Year</th>
            <th>Booked Services</th>
            <th>Visit Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.bookedDate}"></td>
            <td th:text="${visit.clientName}"></td>
            <td th:text="${visit.employeeName}"></td>
            <td th:text="${visit.vehicle.licensePlate()}"></td>
            <td th:text="${visit.vehicle.toString()}"></td>
            <td>
                <ul class="list-unstyled mb-0">
                    <li th:each="service : ${visit.services}" th:text="${service.serviceName}"></li>
                </ul>
            </td>
            <td th:text="${visit.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--Display Visit End-->

<!-- Footer Start -->
<div th:replace="~{/fragments/footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<div th:replace="~{/fragments/toTop}"></div>

<div th:replace="~{/fragments/scripts}"></div>
<script type="text/javascript" src="/js/visitsScript.js"></script>

</body>
</html>